<tr>
	
	<td><%= h booking.date %></td>
	<td><%= h booking.security_id %></td>
	<td><%= h booking.quantity %></td>
	<td><%= h booking.expiry_date %></td>
	<td><%= h booking.buy_price %></td>
	<td><%= h booking.sell_price %></td>
	<td><%= h booking.cost %></td>
	<td><%= h booking.dividend %></td>

</tr>